@using GlideBuy.Models.Catalog
@model IList<ProductOverviewModel>

<!-- Trending products (Grid) -->
<section class="container pt-5 mt-2 mt-sm-3 mt-lg-4">

    <!-- Heading -->
    <div class="d-flex align-items-center justify-content-between border-bottom pb-3 pb-md-4">
        <h2 class="h3 mb-0">Trending products</h2>
        <div class="nav ms-3">
            @* TODO: Handle "View all" link *@
            <a class="nav-link animate-underline px-0 py-2" href="">
                <span class="animate-target">View all</span>
                <i class="ci-chevron-right fs-base ms-1"></i>
            </a>
        </div>
    </div>

    <!-- Product grid -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 pt-4">

        @foreach (var product in Model)
        {
            <partial name="_ProductCard" model="product" />
        }

    </div>
</section>