@using GlideBuy.Models.Catalog
@model IList<ProductOverviewModel>

<!-- New arrivals (List) -->
<section class="container pt-5 mt-1 mt-sm-2 mt-md-3 mt-lg-4">
    <h2 class="h3 pb-2 pb-sm-3">New arrivals</h2>
    <div class="row">

        @* TODO: Handle the banner *@
        <!-- Banner -->
        <div class="col-lg-4" data-bs-theme="dark">
            <div class="d-flex flex-column align-items-center justify-content-end h-100 text-center overflow-hidden rounded-5 px-4 px-lg-3 pt-4 pb-5" style="background: #1d2c41 url(assets/img/home/electronics/banner/background.jpg) center/cover no-repeat">
                <div class="ratio animate-up-down position-relative z-2 me-lg-4" style="max-width: 320px; margin-bottom: -19%; --cz-aspect-ratio: calc(690 / 640 * 100%)">
                    <img src="assets/img/home/electronics/banner/laptop.png" alt="Laptop">
                </div>
                <h3 class="display-2 mb-2">MacBook</h3>
                <p class="text-body fw-medium mb-4">Be Pro Anywhere</p>
                <a class="btn btn-sm btn-primary" href="#!">
                    From $1,199
                    <i class="ci-arrow-up-right fs-base ms-1 me-n1"></i>
                </a>
            </div>
        </div>

        <!-- Product list -->
        <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-4 py-lg-4">

            @foreach (var product in Model.Take(new Range(0, 4)))
            {
                <partial name="_ProductMiniCard" model="product" />
            }
        </div>

        <!-- Product list -->
        <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-3 py-lg-4">

            @foreach (var product in Model.Take(new Range(4, 8)))
            {
                <partial name="_ProductMiniCard" model="product" />
            }

        </div>
    </div>
</section>