@using GlideBuy.Web.Models.Checkout
@model OnePageCheckoutModel
@{
	Layout = "_ColumnsOne";
}

<div class="page checkout-page">
	<div class="page-title">
		Checkout
	</div>
	<div class="page-body checkout-data">
		<ol class="opc" id="checkout-steps">
			<li id="opc-billing" class="tab-section allow"></li>
			<li id="opc-shipping" class="tab-section"></li>
			<li id="opc-shipping_method" class="tab-section"></li>
			<li id="opc-payment_method" class="tab-section"></li>
			<li id="opc-payment_info" class="tab-section"></li>
			<li id="opc-confirm_order" class="tab-section"></li>
		</ol>
	</div>
	<script>

	</script>
</div>