@using GlideBuy.Core.Domain.Orders
@using GlideBuy.Models.Catalog
@model ProductOverviewModel

@{
    var addToCartLink = "";
    var cartTypeId = (int)CartType.ShoppingCart;
    var quantity = 1;

    // TODO: Check if redirection is required after adding to cart.
    if (false)
    {

    }
    else
    {
        addToCartLink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, cartTypeId = cartTypeId, quantity = quantity });
    }

    // TODO: Handle wishlist link
}

<div class="product-card animate-underline hover-effect-opacity bg-body rounded">
    <div class="position-relative">
        <div class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3">
            <div class="d-flex flex-column gap-2">

                <button type="button" class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex" aria-label="Add to Wishlist">
                    <i class="ci-heart fs-base animate-target"></i>
                </button>

                <button type="button" class="btn btn-icon btn-secondary animate-rotate d-none d-lg-inline-flex" aria-label="Compare">
                    <i class="ci-refresh-cw fs-base animate-target"></i>
                </button>

            </div>
        </div>
        <div class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2">
            <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More actions">
                <i class="ci-more-vertical fs-lg"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end fs-xs p-2" style="min-width: auto">
                <li>
                    <a class="dropdown-item" href="#!">
                        <i class="ci-heart fs-sm ms-n1 me-2"></i>
                        Add to Wishlist
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#!">
                        <i class="ci-refresh-cw fs-sm ms-n1 me-2"></i>
                        Compare
                    </a>
                </li>
            </ul>
        </div>
        @* TODO: Handle product links *@
        <a class="d-block rounded-top overflow-hidden p-3 p-sm-4" href="">
            <span class="badge bg-danger position-absolute top-0 start-0 mt-2 ms-2 mt-lg-3 ms-lg-3">-21%</span>
            <div class="ratio" style="--cz-aspect-ratio: calc(240 / 258 * 100%)">
                @* TODO: Handle products images *@
                <img src="assets/img/shop/electronics/01.png" alt="@Model.Name">
            </div>
        </a>
    </div>
    <div class="w-100 min-w-0 px-1 pb-2 px-sm-3 pb-sm-3">
        @* TODO: Handle product reviews *@
        <div class="d-flex align-items-center gap-2 mb-2">
            <div class="d-flex gap-1 fs-xs">
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star text-body-tertiary opacity-75"></i>
            </div>
            <span class="text-body-tertiary fs-xs">(123)</span>
        </div>

        <h3 class="pb-1 mb-2">
            @* TODO: Handle product link*@
            <a class="d-block fs-sm fw-medium text-truncate" href="">
                <span class="animate-target">@Model.Name</span>
            </a>
        </h3>
        <div class="d-flex align-items-center justify-content-between">
            @* TODO: Handle product price *@
            <div class="h5 lh-1 mb-0">$340.99 <del class="text-body-tertiary fs-sm fw-normal">$430.00</del></div>

            <button type="button" class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2" aria-label="Add to Cart" onclick="Cart.addProductToCart_catalog('@addToCartLink');return false;">
                <i class="ci-shopping-cart fs-base animate-target"></i>
            </button>

        </div>
    </div>

    @* TODO: Handle product attributes *@

    <div class="product-card-details position-absolute top-100 start-0 w-100 bg-body rounded-bottom shadow mt-n2 p-3 pt-1">
        <span class="position-absolute top-0 start-0 w-100 bg-body mt-n2 py-2"></span>
        <ul class="list-unstyled d-flex flex-column gap-2 m-0">
            <li class="d-flex align-items-center">
                <span class="fs-xs">Display:</span>
                <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                <span class="text-dark-emphasis fs-xs fw-medium text-end">OLED 1440x1600</span>
            </li>
            <li class="d-flex align-items-center">
                <span class="fs-xs">Graphics:</span>
                <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                <span class="text-dark-emphasis fs-xs fw-medium text-end">Adreno 540</span>
            </li>
            <li class="d-flex align-items-center">
                <span class="fs-xs">Sound:</span>
                <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                <span class="text-dark-emphasis fs-xs fw-medium text-end">2x3.5mm jack</span>
            </li>
            <li class="d-flex align-items-center">
                <span class="fs-xs">Input:</span>
                <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                <span class="text-dark-emphasis fs-xs fw-medium text-end">4 built-in cameras</span>
            </li>
        </ul>
    </div>

</div>
