@page "/admin_blazor"
@{ Layout = null; }
@using GlideBuy.Core.Infrastructure
@using GlideBuy.Models
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@

<!DOCTYPE html>
<html>
	<head>
		<title>Store Admin</title>
		<link href="~/assets/css/theme.min.css" rel="stylesheet" asp-append-version="true"/>
		<base href="/" />
	</head>
	<body>
		<component type="typeof(Routed)" render-mode="Server" />
		<script src="/_framework/blazor.server.js"></script>
	</body>
</html>
