@using GlideBuy.Areas.Admin.Components
@using GlideBuy.Areas.Admin.Models.Customers
@using GlideBuy.Support.Models.DataTables

@section Styles {
    <!-- Datatables css -->
    <link href="~/assets/vendor/datatables/select.bootstrap5.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/vendor/datatables/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css">
}

<div class="content">
    <div class="container-fluid">

        <!-- start page title -->
        @* TODO: Handle title and breadcrumb *@
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Customers</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Customers</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add New</a>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                    <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        @{
                            var gridModel = new DataTablesModel()
                            {
                                Name = "customer-grid",
                                Length = 10,
                                UrlRead = new DataUrl("CustomerList", "Customer", null)
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Id))
                            {

                            });

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Email))
                            {
                                Title = "Email"
                            });
                        }

                        <partial name="DataTable" model="gridModel" />

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
@await Component.InvokeAsync(typeof(ContentFooterViewComponent))

@section Scripts {
    <!-- Datatable js -->
    <script src="~/admin/assets/vendor/datatables/dataTables.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.responsive.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/responsive.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.select.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/select.bootstrap5.min.js"></script>

    <!-- Product Demo App js -->
    <script src="~/admin/assets/js/pages/admin.customer.customerlist.js"></script>
}
