@{
	Layout = "_Root";
}

@*TODO: Render the breadcrumb as a section*@

<div class="center-1">
	@RenderBody()
</div>

<style>
	.center-1 {
		margin: 0 0 100px;
	}

	.center-1 .page-title,
	.center-1 .title {
		text-align: center;
	}
</style>