@* TODO: Old View. Remove *@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GlideBuy</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand brand-logo" href="/">
                <i class="fas fa-shopping-cart me-2"></i> GlideBuy
            </a>
            <div class="d-flex">
                <vc:cart-summary />
            </div>
        </div>
    </nav>

    <!-- Main Layout -->
    <div class="container-fluid mt-3">
        <div class="row">
            <!-- Sidebar -->
            <aside id="categories" class="col-md-3 sidebar">
                <vc:navigation-menu />
            </aside>

            <!-- Main content -->
            <main class="col-md-9">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
