@using GlideBuy.Core.Domain.Orders
@using GlideBuy.Models.Catalog
@model ProductOverviewModel

@{
    var addToCartLink = "";
    var cartTypeId = (int)CartType.ShoppingCart;
    var quantity = 1;

    // TODO: Check if redirection is required after adding to cart.
    if (false)
    {

    }
    else
    {
        addToCartLink = Url.RouteUrl("AddProductToCart-Catalog");
    }

    // TODO: Handle wishlist link
}

<div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
    <div class="product-item-inner border rounded">
        <div class="product-item-inner-item">
            @* TODO: Configure product image *@
            <img src="img/product-3.png" class="img-fluid w-100 rounded-top" alt="">

            @* TODO: Check if the product is new or on sale *@
            @if (true)
            {
                <div class="product-new">New</div>
            }
            else
            {
                <div class="product-sale">sale</div>
            }


            @* TODO: Configure product link *@
            <div class="product-details">
                <a href="#"><i class="fa fa-eye fa-1x"></i></a>
            </div>
        </div>
        <div class="text-center rounded-bottom p-4">
            @* TODO: Configure product category link *@
            <a href="#" class="d-block mb-2">SmartPhone</a>

            @* TODO: Configure product link *@
            @* TODO: Configure SKU display *@
            <a href="#" class="d-block h4">@Model.Name<br> G2356</a>

            @* TODO: Configure price *@
            <del class="me-2 fs-5">$1,250.00</del>
            <span class="text-primary fs-5">$1,050.00</span>
        </div>
    </div>
    <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">

@*      <form id="@Model.Id" asp-controller="ShoppingCart" asp-action="AddProduct" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @Model.ShortDescription
                <button type="submit" style="float:right" class="btn btn-success btn-sm pull-right">Add To Cart</button>
            </span>
        </form> *@

        @* TODO: Configure add to cart button *@
        <a href="#"
           class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4">
            <i class="fas fa-shopping-cart me-2"></i> Add To Cart
        </a>

        <div class="d-flex justify-content-between align-items-center">

            @* TODO: Configue product ratings *@
            <div class="d-flex">
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star text-primary"></i>
                <i class="fas fa-star"></i>
            </div>

            <div class="d-flex">

                <a href="#"
                   class="text-primary d-flex align-items-center justify-content-center me-3">
                    <span class="rounded-circle btn-sm-square border">
                        <i class="fas fa-random"></i></i>
                </a>

                @* TODO: Configure add to wishlist button *@
                <a href="#"
                   class="text-primary d-flex align-items-center justify-content-center me-0">
                    <span class="rounded-circle btn-sm-square border">
                        <i class="fas fa-heart"></i>
                </a>

            </div>

        </div>
    </div>
</div>
