<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Glide Buy</title>
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/site.css" rel="stylesheet" />
</head>
<body>
	<script src="~/lib/jquery/jquery.min.js"></script>

	@* TODO: Render Header *@
	@* Alternatively, you can render a partial view with RenderPartialAsync. This method doesn't return an IHtmlContent. It streams the rendered output directly to the response. Because the method doesn't return a result, it must be called within a Razor code block. Since RenderPartialAsync streams rendered content, it provides better performance in some scenarios.*@
	@{ await Html.RenderPartialAsync("_Header"); }

@* 	<div class="bg-dark text-white p-2">
		<span class="navbar-brand ml-2">Glide Buy</span>
	</div> *@

	@* TODO: Render header menu *@

	<div class="main-wrapper-page">

		@* TODO: Add Header *@

		<div class="main-wrapper-content">

			@* TODO: Render breadcrumb *@

			<div class="main-wrapper-column">	
				@RenderBody()
			</div>
		</div>
	</div>
</body>
</html>

<style>
	.main-wrapper-content {
		position: relative;
		z-index: 0;
		width: 90%;
		margin: 0 auto;
	}

	.main-column-wrapper {
		position: relative;
		z-index: 0;
	}
</style>