@using GlideBuy.Web.Models.ShoppingCart
@model OrderTotalsModel

<div class="p-4">
	<h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
	<div class="d-flex justify-content-between mb-4">
		<h5 class="mb-0 me-4">Subtotal:</h5>
		<p class="mb-0">$96.00</p>
	</div>
	<div class="d-flex justify-content-between">
		<h5 class="mb-0 me-4">Shipping</h5>
		<div>
			<p class="mb-0">Flat rate: $3.00</p>
		</div>
	</div>
	<p class="mb-0 text-end">Shipping to Ukraine.</p>
</div>
<div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
	<h5 class="mb-0 ps-4 me-4">Total</h5>
	<p class="mb-0 pe-4">$99.00</p>
</div>

@* TODO: Old. Remove. *@
<div class="total-info">
	<table class="cart-total">
		<tbody>
			<tr class="order-subtotal">
				<td class="cart-total-left">
					<label>Subtotal</label>
				</td>
				<td class="cart-total-right">
					<span class="value-summary">@Model.Subtotal</span>
				</td>
			</tr>
			<tr class="order-total">
				<td class="cart-total-left">
					<label>Total</label>
				</td>
				<td class="cart-total-right">
					@if (!string.IsNullOrEmpty(Model.Total))
					{
						<span class="value-summary"><strong>@Model.Total</strong></span>
					}
					else
					{
						<span>Calculated during checkout</span>
					}
				</td>
			</tr>
		</tbody>
	</table>
</div>