    <!-- Brands -->
<section class="container pt-4 pt-md-5 pb-5 mt-sm-2 mb-2 mb-sm-3 mb-md-4 mb-lg-5">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 g-md-4 g-lg-3 g-xl-4">
        <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="shop-catalog-electronics.html">
                <img src="assets/img/shop/electronics/brands/apple-light-mode.svg" class="d-none-dark" alt="Apple">
                <img src="assets/img/shop/electronics/brands/apple-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="shop-catalog-electronics.html">
                <img src="assets/img/shop/electronics/brands/motorola-light-mode.svg" class="d-none-dark" alt="Apple">
                <img src="assets/img/shop/electronics/brands/motorola-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="shop-catalog-electronics.html">
                <img src="assets/img/shop/electronics/brands/canon-light-mode.svg" class="d-none-dark" alt="Apple">
                <img src="assets/img/shop/electronics/brands/canon-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="shop-catalog-electronics.html">
                <img src="assets/img/shop/electronics/brands/samsung-light-mode.svg" class="d-none-dark" alt="Apple">
                <img src="assets/img/shop/electronics/brands/samsung-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="shop-catalog-electronics.html">
                <img src="assets/img/shop/electronics/brands/sony-light-mode.svg" class="d-none-dark" alt="Apple">
                <img src="assets/img/shop/electronics/brands/sony-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary w-100 h-100 rounded-4 p-3" href="shop-categories-electronics.html">
                All brands
                <i class="ci-plus-circle fs-base ms-2"></i>
            </a>
        </div>
    </div>
</section>