<div class="d-flex flex-column gap-4 pt-3 pb-5 mt-3">
    <div>
        <h3 class="h6 mb-2">Delivery</h3>
        <p class="fs-sm mb-0">567 Cherry Souse Lane Sacramento, 95829</p>
    </div>
    <div>
        <h3 class="h6 mb-2">Time</h3>
        <p class="fs-sm mb-0">Sunday, May 9, 12:00 - 14:00</p>
    </div>
    <div>
        <h3 class="h6 mb-2">Payment</h3>
        <p class="fs-sm mb-0">Visa: **** **** **** 8395</p>
    </div>
</div>