@using GlideBuy.Areas.Admin.Models.DataTables

@section Styles {
    <!-- Datatables css -->
    <link href="~/assets/vendor/datatables/select.bootstrap5.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/vendor/datatables/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css">
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        @* TODO: Handle title and breadcrumb *@
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Plugins</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Plugins</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Upload Plugin</a>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                    <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div>
                        </div>

                        <partial name="DataTable" model="new DataTableModel()" />

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="javascript: void(0);">About</a>
                    <a href="javascript: void(0);">Support</a>
                    <a href="javascript: void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

@section Scripts {
    <!-- Datatable js -->
    <script src="~/admin/assets/vendor/datatables/dataTables.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.responsive.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/responsive.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/dataTables.select.min.js"></script>
    <script src="~/admin/assets/vendor/datatables/select.bootstrap5.min.js"></script>

    <!-- Product Demo App js -->
    <script src="~/admin/assets/js/pages/demo.plugins.js"></script>
}