@using GlideBuy.Components
@using GlideBuy.Infrastructure
@using GlideBuy.Models
@using GlideBuy.Models.ViewModels
@using GlideBuy.Web.Models.ShoppingCart
@model ShoppingCartModel
@{
	Layout = "_CartLayout";
}

<div class="page shopping-cart-page">
	<div class="page-title">
		<h1>Shopping Cart</h1> @*TODO: Localize*@
 	</div>

	<div class="page-body">
		@await Component.InvokeAsync(typeof(OrderSummaryViewComponent), new { overriddenModel = Model })
	</div>
</div>

@*
<form asp-action="RemoveProduct" method="post">
	<input type="hidden" name="productId" value="@line.Product.ProductId" />
	<input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
	<button type="submit" class="btn btn-sm btn-danger">Remove</button>
</form>
*@

@* <div class="text-center">
	<a class="btn btn-primary" href="@Model.ReturnUrl">
		Continue shopping
	</a>
</div> *@