@using GlideBuy.Components
@using GlideBuy.Core.Infrastructure
@using GlideBuy.Models
@using GlideBuy.Models.ViewModels
@using GlideBuy.Web.Models.ShoppingCart

<div class="page shopping-cart-page">
	<div class="page-body">
		@await Component.InvokeAsync(typeof(OrderSummaryViewComponent), new { overriddenModel = Model })
	</div>
</div>