@using GlideBuy.Support.Models.DataTables
@model DataTablesModel

<table class="table table-centered dt-responsive mb-0" id="@Model.Name">

    @* TODO: Handle footer columns. *@


     <thead class="bg-light bg-opacity-50 thead-sm">
        <tr>
            <th style="width: 1%;"></th>
            <th>Plugin</th>
            <th>Group</th>
            <th>Added Date</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th style="width: 1%;">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td style="width: 1%;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck2">
                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                </div>
            </td>
            <td>
                <img src="assets/images/products/product-1.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />
                <p class="m-0 d-inline-block align-middle font-16">
                    <a href="apps-ecommerce-products-details.html" class="text-body">Amazing Modern Chair</a>
                    <br />
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                </p>
            </td>
            <td>
                Aeron Chairs
            </td>
            <td>
                09/12/2018
            </td>
            <td>
                $148.66
            </td>

            <td>
                254
            </td>
            <td>
                <span class="badge bg-success">Active</span>
            </td>

            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </td>
        </tr>

        <tr>
            <td style="width: 1%;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck3">
                    <label class="form-check-label" for="customCheck3">&nbsp;</label>
                </div>
            </td>
            <td>
                <img src="assets/images/products/product-4.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />
                <p class="m-0 d-inline-block align-middle font-16">
                    <a href="apps-ecommerce-products-details.html" class="text-body">Biblio Plastic Armchair</a>
                    <br />
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star-half"></span>
                </p>
            </td>
            <td>
                Wooden Chairs
            </td>
            <td>
                09/08/2018
            </td>
            <td>
                $8.99
            </td>

            <td>
                1,874
            </td>
            <td>
                <span class="badge bg-success">Active</span>
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </td>
        </tr>

        <tr>
            <td style="width: 1%;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck8">
                    <label class="form-check-label" for="customCheck8">&nbsp;</label>
                </div>
            </td>
            <td>
                <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />
                <p class="m-0 d-inline-block align-middle font-16">
                    <a href="apps-ecommerce-products-details.html" class="text-body">Adirondack Chair</a>
                    <br />
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                </p>
            </td>
            <td>
                Aeron Chairs
            </td>
            <td>
                07/07/2018
            </td>
            <td>
                $65.94
            </td>

            <td>
                652
            </td>
            <td>
                <span class="badge bg-success">Active</span>
            </td>

            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </td>
        </tr>

        <tr>
            <td style="width: 1%;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck9">
                    <label class="form-check-label" for="customCheck9">&nbsp;</label>
                </div>
            </td>
            <td>
                <img src="assets/images/products/product-2.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />
                <p class="m-0 d-inline-block align-middle font-16">
                    <a href="apps-ecommerce-products-details.html" class="text-body">Bean Bag Chair</a>
                    <br />
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                </p>
            </td>
            <td>
                Wooden Chairs
            </td>
            <td>
                06/30/2018
            </td>
            <td>
                $99
            </td>

            <td>
                1,021
            </td>
            <td>
                <span class="badge bg-danger">Deactive</span>
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </td>
        </tr>
        <tr>
            <td style="width: 1%;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck13">
                    <label class="form-check-label" for="customCheck13">&nbsp;</label>
                </div>
            </td>
            <td>
                <img src="assets/images/products/product-6.jpg" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />
                <p class="m-0 d-inline-block align-middle font-16">
                    <a href="apps-ecommerce-products-details.html" class="text-body">Unpowered aircraft</a>
                    <br />
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star"></span>
                    <span class="text-warning mdi mdi-star-half"></span>
                </p>
            </td>
            <td>
                Wing Chairs
            </td>
            <td>
                03/24/2018
            </td>
            <td>
                $49
            </td>

            <td>
                204
            </td>
            <td>
                <span class="badge bg-danger">Deactive</span>
            </td>

            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </td>
        </tr>

    </tbody>
</table>


<script>
@* In jQuery, the expression $(function() { ... }); is a shorthand for registering a callback that should run once the DOM is fully loaded and safe to interact with, but before all external resources such as images or fonts have necessarily finished loading. Semantically, it is equivalent to writing $(document).ready(function() { ... });, and jQuery guarantees that the function passed to it will be executed exactly once, as soon as the document reaches the ready state.*@

$(function() {
    $('#@Model.Name').DataTable({
        @await Html.PartialAsync("_DataTable.Definition", Model)
    });


});
</script>