@using GlideBuy.Support.Models.DataTables
@model DataTablesModel

<table class="table table-centered dt-responsive mb-0" id="@Model.Name">

    @* TODO: Handle footer columns. *@
</table>


<script asp-location="Footer">
@* In jQuery, the expression $(function() { ... }); is a shorthand for registering a callback that should run once the DOM is fully loaded and safe to interact with, but before all external resources such as images or fonts have necessarily finished loading. Semantically, it is equivalent to writing $(document).ready(function() { ... });, and jQuery guarantees that the function passed to it will be executed exactly once, as soon as the document reaches the ready state.*@

$(function() {
    $('#@Model.Name').DataTable({
        @await Html.PartialAsync("_DataTable.Definition", Model)
    });


});
</script>