body {
    background-color: #F9FAFB;
}

.sidebar {
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;
    min-height: 100vh;
    padding: 1rem;
}

.brand-logo {
    font-weight: bold;
    font-size: 1.25rem;
}

.item-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item-box {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 350px;
    margin: 0 .5% 50px;
}

    .item-box .picture {
        background-color: #fff;
        margin: 0 0 20px;
    }

            .item-box .picture a:focus {
                opacity: 0.85;
            }

            .item-box .picture a:before {
                content: "";
/*                display: block;
*/                padding-top: 100%;
            }

            .item-box .picture a img {
/*                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0; */
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);
            }

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

.product-grid .item-box .description:not([data-short-description]) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0 0 15px;
    height: 66px;
    line-height: 22px;
}

.item-box .description[data-short-description] {
    display: none;
}

.item-box .description a {
    display: block;
    overflow: hidden;
}

.item-box .buttons {
    margin: 0;
    font-size: 0;
}

.item-box button {
    display: inline-block;
    height: 40px;
    border: none;
    vertical-align: middle;
}

.home-page-category-grid,
.sub-category-grid,
.manufacturer-grid,
.vendor-grid {
    margin: 0 0 20px;
}

    .home-page-category-grid .title,
    .sub-category-grid .title {
        text-align: center;
        font-size: 22px;
        font-weight: normal;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .home-page-category-grid .title a,
        .sub-category-grid .title a {
            display: block;
            padding: 0 0 15px;
        }

    .home-page-category-grid .picture,
    .sub-category-grid .picture {
        margin: 0;
    }

        .home-page-category-grid .picture a:before,
        .sub-category-grid .picture a:before {
            padding-top: 65%;
        }

@media all and (min-width: 769px) {

}
