<div class="card">
    <div class="d-flex card-header justify-content-between align-items-center">
        <h4 class="header-title">Revenue</h4>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="bg-light bg-opacity-25 border-top border-bottom border-light border-dashed">
            <div class="row text-center">
                <div class="col-sm-6">
                    <p class="text-muted mb-0 mt-3">Current Week</p>
                    <h2 class="fw-normal mb-3">
                        <small class="mdi mdi-checkbox-blank-circle text-primary align-middle me-1"></small>
                        <span>$58,254</span>
                    </h2>
                </div>
                <div class="col-sm-6">
                    <p class="text-muted mb-0 mt-3">Previous Week</p>
                    <h2 class="fw-normal mb-3">
                        <small class="mdi mdi-checkbox-blank-circle text-success align-middle me-1"></small>
                        <span>$69,524</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="dash-item-overlay d-none d-md-block" dir="ltr">
            <h5>Today's Earning: $2,562.30</h5>
            <p class="text-muted font-13 mb-3 mt-2">
                Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                Etiam rhoncus...
            </p>
            <a href="javascript: void(0);" class="btn btn-outline-primary">
                View Statements
                <i class="mdi mdi-arrow-right ms-2"></i>
            </a>
        </div>
        <div dir="ltr">
            <div id="revenue-chart" class="apex-charts mt-3" data-colors="#727cf5,#0acf97"></div>
        </div>
    </div> <!-- end card-body-->
</div>