@using GlideBuy.Components
@{
	Layout = "_ColumnsOne";
}

<div class="page home-page">
	<div class="page-body">
@*         @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" })
 *@     @await Component.InvokeAsync(typeof(HomePageCategoriesViewComponent))

@*      @await Component.InvokeAsync(typeof(HomepageProductsViewComponent))
        @await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
        @await Component.InvokeAsync(typeof(HomepageNewsViewComponent))
        @await Component.InvokeAsync(typeof(HomepagePollsViewComponent)) *@
	</div>
</div>